@page "/cams"

<h3>Kamery</h3>

<div class="card">
    <div class="card-body"><a href="http://79.98.159.169:8000/" target="_blank"><i class="fas fa-video mr-1"></i>Patro</a></div>
</div>
<div class="card">
    <div class="card-body"><a href="http://79.98.159.169:8002/" target="_blank"><i class="fas fa-video mr-1"></i>Sednice</a></div>
</div>

@code {

}
