@page "/errorspage"

<h3>Chyby</h3>

@foreach (var item in Errors.ErrorList)
{
    <div class="row">
        <div class="col-md-2">@(DateHelper.GetCentralDate(item.Date))</div>
        <div class="col-md-2">@item.Text</div>
    </div>
}

@code {
    [Inject]
    Data.Errors Errors { get; set; }

    [Inject]
    Helpers.DateHelper DateHelper { get; set; }
}