@page "/requestmonitor"
@implements IDisposable
@inject Data.ChangeNotifier ChangeNotifier

<h3>RequestMonitor</h3>

@foreach (var item in items)
{
    <div>@item</div>
}

@code {
    List<string> items = new List<string>();

    protected override void OnInitialized()
    {
        ChangeNotifier.Notify += OnNotify;
    }

    public void Dispose()
    {
        ChangeNotifier.Notify -= OnNotify;
    }

    async void OnNotify(object sender, object item)
    {
        var list = item as List<string>;
        if (list != null)
        {
            items.AddRange(list);
            await InvokeAsync(StateHasChanged);
        }
    }
}
